spring:
  profiles:
    active: dev
---
spring:
  config:
    activate:
      on-profile: dev
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:myapp-test;
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  devtools:
    restart:
      exclude: static/**, public/**
      additional-exclude: java/**, test/**
server:
  port: 8080
---
spring:
  config:
    activate:
      on-profile: deploy
server:
  port: 8888